@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to ITI Student Management</h1>
    <p class="lead">Manage and explore student data with ease.</p>

    <a class="btn btn-lg btn-success mt-3 shadow" 
       asp-controller="Student" 
       asp-action="GetStsAllData">
        📋 View All Students
    </a>
</div>
